/* 가보자 */

.titleSize {
    height: 20%;
    margin-top: 5%;
    font-size: 22px;
    transition: none;
}

.keywordSize {
    height: 100%;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: start;
}

.bottomSize {
    height: 25%;
}

.smallBox {
    width: 70%;
}

.copySpace {
    height: 100%;
    width: 100%;
}

.finalCardBG {
    background: #ffffff;
    background-position : center;
    background-size: cover;
}

.pictureFrame {
    background-image: url(../../assets/image/pictureframe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.commonPicture {
    position: absolute;
    height: 40vw;
    width: 34vw;
    z-index: -1;
    object-fit: cover;
}

.picture0 {
    top: 20vw;
    left: 3vw;
}

.picture1 {
    top: 1vw;
    left: 38vw;
}

.picture2 {
    top: 59vw;
    left: 2vw;
}

.picture3 {
    top: 41vw;
    left: 38vw;
}

.downButtom {
    height: 50%;
    width: 70%;
    background: #EFEEFF;
    border-radius: 10px;
}

hr {
    border: 0px;
    width: 80%;
    border-top: 1px solid #D3D3D3
}

.keywordText {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 30px;
    transition: none;
}