#mainBG {
  background-image: url(../../assets/image/mainPageBG.svg);
  background-repeat : no-repeat;
  background-position : center;
  height: 100%;

  margin: 0px auto;
}

@media screen and (min-width: 390px), screen and (min-height: 48rem) {
  #mainBG{
    width: 390px;
  }
}

